
@model IEnumerable<JobOfferWebiste.Models.Category>


@{
    ViewBag.Title = "Home Page";
}

<div class="thumbnail" style="text-align: left; margin-left: -60px; margin-right: -70px; ">
    <h1>Welcom In Our WebeSite</h1>
</div>

<h1 id="e"></h1>


@foreach (var item in Model)
{
    <div class="panel panel-info " style="padding: 2px; width: 1270px; margin-right: -70px; margin-left: -70px; text-align: left ">
        <div class="panel-heading" style="text-align: left "><h1>@Html.DisplayFor(Model => item.CategoryName)</h1></div>


        <div class="Row panel-body " style="text-align: left ; ">
            <h5>@Html.DisplayFor(Model => item.CategoryDescription)</h5>

            @foreach (var SubItem in item.Jobs)
            {
        <div class="col-md-3 thumbnail" style="margin-left: 2px; margin-top: 5px; margin-bottom: 100px; height: 650px; width: 400px; text-align: left ">
            <img style="height:285px; width:390px" src="~/Uploads/@SubItem.TripImage" />
            <h3>TripTitle : @Html.DisplayFor(modelItem => SubItem.TripTitle)</h3>
            <h4>AgencyName : @Html.DisplayFor(modelItem => SubItem.AgencyName)</h4>
            <h5>TripDetails : @Html.DisplayFor(modelItem => SubItem.TripDetails)</h5>
            <h5>TripDate : @Html.DisplayFor(modelItem => SubItem.TripDate)</h5>
            <h5>TripDestination : @Html.DisplayFor(modelItem => SubItem.TripDestination)</h5>
            <h2>The Price : @Html.DisplayFor(modelItem => SubItem.Price)</h2>


           
            <hr />
            
            @Html.ActionLink("Details", "Detailse", new { JopId = SubItem.Id }, new { @class = "btn btn-info" })



        </div>


            }
        </div>
    </div>
}






