@model IEnumerable<JobOfferWebiste.Models.Job>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>قائمة الوظائف</h2>

<p>
    @Html.ActionLink("Create New Tripre", "Create")
</p>
<table class="table table-stripped table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TripTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TripDetails)
        </th>
        <th style=" width:100px; ">
            @Html.DisplayNameFor(model => model.TripImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TripDestination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TripDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgencyName)
        </th>
        <th>
            Post Date
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>

    </tr>

@foreach (var item in Model) {
   
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Category.CategoryName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TripTitle)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.User.UserName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TripDetails)
    </td>
    <td>
        <img src="~/Uploads/@Html.DisplayFor(model=>item.TripImage)"
             class="thumbnail" style="width:48px; height:48px" />
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.TripDestination)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TripDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AgencyName)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.PostDate)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>

    <td>
        @Html.ActionLink("Edit         ", "Edit", new { id = item.Id }) <br /> <br />
        @Html.ActionLink("Details      ", "Details", new { id = item.Id }) <br /> <br />
        @Html.ActionLink("Delete       ", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
